body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}