body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: goldenrod;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

section {
    display: flex;
    gap: 2rem;
}

div {
    display: flex;
    flex-direction: column;
    align-items: center;

}

img {
    border: 2px solid black;
    width: 200px;
    height: 200px;
}